/* https://www.slideshare.net/stephenhay/maintainable-css-presentation */

/* Contents of this file:
    |navigation-bar|
    |home-page|
    |left-option-column|
    |course-info|
    |external-boxes|
    |footer|
*/

/* *navigation-bar* */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}
  

html {
	min-width: 1024px;
    background: url(wooden%20ceiling.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nav {
    min-width: 1024px;
    background: #234f00;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
}

#nav h1 {
    font-weight: 400;
    float: left;
    margin-left: 30px;
}

#nav ul {
    float: right;
    margin-right: 20px;
}

#nav ul li {
    list-style-type: none;
    display: inline-block;
}

#nav ul li:hover {
    background: #67a71c;
    transition: all 0.7s;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

/* *home-page* */
#box1 {
	height: 500px;
	width: 100%;
	background-image: url('img/plants.jpg');
	background-size: cover;
	display: table;
}

#box1 h1 {
	font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: white;
    margin: 0px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

#box1 p {
	font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: white;
    margin: 0px;
	text-align: center;
	vertical-align: middle;
}

#box2 {
	height: 500px;
	width: 100%;
	background-color: white;
	display: table;
}

#box2 p1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#box2 p3 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#box2 h3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: rgb(51, 51, 51);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#box2 p2 {
	font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: rgb(51, 51, 51);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.5;
}

/* *left-option-column* */
#top {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #234f00;
    position: relative;
    margin-right: 10px;
}

#top h1 {
    display: block;
    color: white;
    padding: 8px 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
}

#side ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #234f00;
    position: relative;
}

#side li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
}

#side input {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
    width: 100%;
    text-align: left;
    background-color: #234f00;
    border: none;
    font-size: 16px;
}

#side input:hover {
    background-color: #67a71c;
    color: white;
    transition: all 0.7s;
}

#side li a:hover {
    background-color: #67a71c;
    color: white;
    transition: all 0.7s;
}

#top2 {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #234f00;
    position: relative;
    border-top: 2px solid white;
}

#top2 h1 {
    display: block;
    color: white;
    padding: 8px 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
}

#side2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #234f00;
    position: relative;
}

#side2 li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
}

#side2 li a:hover {
    background-color: #67a71c;
    color: white;
    transition: all 0.7s;
}

#top3 {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #234f00;
    position: relative;
    border-top: 2px solid white;
}

#top3 h1 {
    display: block;
    color: white;
    padding: 8px 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
}

#side3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: #234f00;
    position: relative;
}

#side3 li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family:'Lato', sans-serif;
    font-weight: 400;
    padding: 15px;
}

#side3 li a:hover {
    background-color: #67a71c;
    color: white;
    transition: all 0.7s;
}

/* *course-info* */
#text {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
	font-size: 17px;
    color: rgb(51, 51, 51);
    background-color: #eff0f1;
    text-align: center;
    padding: 20px;
    padding-left: 220px;
    margin-top: -848px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    column-count: 1;
    line-height: 1.5;
}

#text h1 {
    font-family: 'Lato', sans-serif;
	font-weight: 900;
    color: black;
    font-size: 17px;
    padding-top: 20px;
}

#text h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 0;
    color: black;
    font-size: 15px;
}

#text strong {
    font-family: 'Lato', sans-serif;
    font-weight: 0;
    color: black;
}

#text ol {
    padding-left: 30px;
}
#text ul {
    padding-left: 30px;
}

#text h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: black;
    padding-top: 20px;
    font-size: 20px;
}

#bio {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: rgb(51, 51, 51);
    background-color: #eff0f1;
    text-align: left;
    padding: 20px;
    margin-top: -73px;
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* *external-boxes* */
#video, #video2, #video3, #video4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 51);
    background-color: #eff0f1;
    text-align: left;
    width: 560px;
    padding: 20px;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    flex-basis: 47%;
    margin-bottom: 5%;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1050px) {
    .row {
        flex-direction: column;
    }
}

/* *footer* */
footer {
    background-color: #234f00;
    background-position: center;
    color: rgb(51, 51, 51);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
	height: 50px;
    font-size: 20px;
    padding-top: 20px;
}
